In [1]:
from huggingface_hub import login
login(token="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")

# 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

Token has not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /home/focqus_ft_user/.cache/huggingface/token
Login successful

In [2]:
# Load model directly
from transformers import AutoTokenizer, AutoModelForCausalLM
import torch

tokenizer_base = AutoTokenizer.from_pretrained("mistralai/Mistral-7B-v0.1", device_map="auto", torch_dtype=torch.float16)
model_base = AutoModelForCausalLM.from_pretrained("mistralai/Mistral-7B-v0.1")

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

In [3]:
from peft import PeftModel

model_name = "mistralai/Mistral-7B-v0.1"
adapters_name = "./ft-models/mistral7b-peft"

print(f"Cargando el modelo: '{model_name}' en memoria...")
model = AutoModelForCausalLM.from_pretrained(
    model_name,
    #load_in_4bit=True,
    torch_dtype=torch.float16,
    device_map="auto"
)

model = PeftModel.from_pretrained(model, adapters_name)
model = model.merge_and_unload()

print(f"El modelo: '{model_name}' ha sido cargado correctamente")

# Leemos el tokenizador
print(f"Cargando el tokenizador: '{model_name}' en memoria...")
tokenizer = AutoTokenizer.from_pretrained("./ft-models/mistral7b-peft/tokenizer", trust_remote_code=True)
tokenizer.pad_token = tokenizer.eos_token
tokenizer.padding_side = "right" # Fix weird overflow issue with fp16 training
print(f"El tokenizador: '{model_name}' ha sido cargado correctamente")

Cargando el modelo: 'mistralai/Mistral-7B-v0.1' en memoria...

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

El modelo: 'mistralai/Mistral-7B-v0.1' ha sido cargado correctamente
Cargando el tokenizador: 'mistralai/Mistral-7B-v0.1' en memoria...
El tokenizador: 'mistralai/Mistral-7B-v0.1' ha sido cargado correctamente

In [13]:
from transformers import pipeline

# Creamos un pipeline para la tokenización y generación del texto
mistral7b_ft_pipe = pipeline(task="text-generation", model=model, tokenizer=tokenizer, max_length=2000, max_new_tokens=1500)

mistral7b_base_pipe = pipeline(
    "text-generation", 
    model=model_base, 
    tokenizer = tokenizer, 
    device_map="auto",
    max_length=2000, 
    max_new_tokens=1500
)

In [14]:
def generate_base_response(q):
	res = mistral7b_base_pipe(q)
	return res

def generate_ft_response(q):
	res = mistral7b_ft_pipe(q)
	return res

template="""### Task
Your task is to Generate a SQL code to the question. Follow the Database Schema and Database Relationships below.

### Database Schema
{}
### Database Relationships
The schema has the following JOIN relationships:
{}

### Answer
Given the database schema, here is the question: [QUESTION]{}[/QUESTION]
[SQL]
"""

In [15]:
q1 = template.format(
    "CREATE TABLE IF NOT EXISTS Catalogs (date_of_latest_revision VARCHAR -- Date of the latest revision of the catalog);",
    "",
    "Find the dates on which more than one revisions were made."
)

q2 = template.format(
    """CREATE TABLE IF NOT EXISTS Aircraft (
    name VARCHAR, -- Name of the aircraft
    aid VARCHAR -- Aircraft ID
);

CREATE TABLE IF NOT EXISTS Employee (
    eid VARCHAR, -- Employee ID
    name VARCHAR -- Employee name
);

CREATE TABLE IF NOT EXISTS Certificate (
    eid VARCHAR, -- Employee ID
    aid VARCHAR -- Aircraft ID
);""",
    """-- Employee.eid can be joined with Certificate.eid
-- Certificate.aid can be joined with Aircraft.aid""",
    "Show names for all aircrafts of which John Williams has certificates."
)

q3 = template.format(
    """CREATE TABLE IF NOT EXISTS dbo_v2.var_variable_datos (
    Fecha DATETIME -- Date and time when the variable data was measured
    ,idVariable_fk INT -- Foreign key linking to the variable type in the var_tipo_variable table
    ,idSistemaMedicion_fk INT -- Foreign key linking to the measurement system in the med_sistema_medicion table
    ,Valor FLOAT -- Numeric value of the variable measured
    ,Valor_String VARCHAR(100) -- String representation of the variable value for non-numeric data
    ,FOREIGN KEY (idVariable_fk) REFERENCES dbo_v2.var_tipo_variable (Id) -- Relationship to the var_tipo_variable table
    ,FOREIGN KEY (idSistemaMedicion_fk) REFERENCES dbo_v2.med_sistema_medicion (Id) -- Relationship to the med_sistema_medicion table
)

CREATE TABLE IF NOT EXISTS dbo_v2.med_sistema_medicion (
    Id INT PRIMARY KEY -- Unique identifier for the measurement system
    ,IdPlataforma_fk INT -- Foreign key linking to the platform
    ,Nombre VARCHAR(100) -- Name of the measurement system
    ,Tag VARCHAR(100) -- Tag associated with the measurement system for identification
    ,Estado VARCHAR(100) -- Status of the measurement system, active ('ACT') or inactive ('INA')
    ,IdTipoFluido_fk INT -- Foreign key linking to the type of fluid being measured
    ,SubTipoFluido VARCHAR(100) -- Exclusively reffers to subtype natural gas DIF or LIN, can only use when fluid type id=1
    ,IsVisible VARCHAR(100) -- Indicates whether the system is visible in the UI, could be: 1/0
    ,Uso VARCHAR(100) -- Usage description of the measurement system could be: CONTINUA / WELL_TESTING
    ,FOREIGN KEY (IdPlataforma_fk) REFERENCES dbo_v2.pla_plataforma (Id) -- Relationship to pla_plataforma table
    ,FOREIGN KEY (IdTipoFluido_fk) REFERENCES dbo_v2.flu_tipo_fluido (Id) -- Relationship to flu_tipo_fluido table
    ,FOREIGN KEY (IdAplicabilidad_fk) REFERENCES dbo_v2.med_tipo_medicion (Id) -- Relationship to med_tipo_medicion table
)

CREATE TABLE IF NOT EXISTS dbo_v2.med_tag(
    ,Id INT PRIMARY KEY -- Unique identifier for each tag
    ,Nombre VARCHAR(MAX) -- Name or description of the tag
    ,IdSistemaMedicion_fk INT -- Foreign key linking to the measurement system this tag belongs to
    ,IdTipoEquipo_fk INT -- Foreign key linking to the type of equipment associated with this tag
    ,IdEquipo_fk INT -- Foreign key linking to the specific piece of equipment associated with this tag
    ,SensoresHabilitadosMv VARCHAR(100) -- Information about enabled sensors for multivariable equipment
    ,Estado VARCHAR(10) -- Current status of the tag, active ('ACT') or inactive ('INA')
    ,FOREIGN KEY (IdEquipo_fk) REFERENCES dbo_v2.equ_equipo (Id) -- Relationship to the equipment table
    ,FOREIGN KEY (IdSistemaMedicion_fk) REFERENCES dbo_v2.med_sistema_medicion (Id) -- Relationship to the measurement system table
)

CREATE TABLE IF NOT EXISTS dbo_v2.equ_equipo(
    ,Id INT PRIMARY KEY -- Unique identifier for each equipment
    ,Serial VARCHAR(550) -- Serial number of the equipment
    ,IdFabricante_fk INT -- Foreign key linking to the manufacturer in the fab_fabricante table
    ,IdTipoEquipo_fk INT -- Foreign key linking to the equipment type in the teq_tipo_equipo table
    ,PlataformaCadastro INT -- Foreign key linking to the platform where the equipment was registered in the pla_plataforma table
    ,FechaInicialCalibInsp DATETIME -- Date and time of the initial calibration or inspection
    ,Modelo VARCHAR(200) -- Model of the equipment
    ,Caracteristica VARCHAR(200) -- Characteristics or specifications of the equipment
    ,Estado VARCHAR(10) -- Current status of the equipment, active ('ACT') or inactive ('INA')
    ,planificacion BIT -- Indicates whether the equipment is included in planning schedules
    ,Categoria VARCHAR(3) -- Category code of the equipment
    ,FOREIGN KEY (IdTipoEquipo_fk) REFERENCES dbo_v2.teq_tipo_equipo (Id) -- Relationship to the teq_tipo_equipo table
)

CREATE TABLE IF NOT EXISTS dbo_v2.teq_tipo_equipo(
    ,Id INT PRIMARY KEY -- Unique identifier for each equipment type
    ,Nombre VARCHAR(150) -- Name or description of the equipment type
    ,IdClasificacion_fk INT -- Foreign key linking to the equipment classification in the teq_clasificacion table
    ,AsLeft BIT -- Indicates whether the equipment type is considered as left in terms of installation or configuration
    ,Estado_Comprobacion_Metrologica VARCHAR(10) -- Status of metrological verification (e.g. valid expired)
    ,NombreCertificado VARCHAR(10) -- Name or identifier of the certification associated with this equipment type
    ,IdUnidad_fk INT -- Identifier for the unit of measurement associated with this equipment type
    ,IdVariable_fk INT -- Identifier for the variable associated with this equipment type
    ,ReporteDS VARCHAR(100) -- Indicates whether a DS (Data Sheet) report is associated with this equipment type
    ,EsMultivariable BIT -- Indicates whether this equipment type is capable of measuring multiple variables
    ,TopeMaxEquXSistemasMed INT -- Maximum limit of this type of equipment per measurement system
    ,IdLayout_fk INT -- Identifier for the layout associated with this equipment type
    ,Comportamiento_Como_TT BIT -- Indicates whether the equipment type behaves like a TT (Temperature Transmitter)
    ,Estado VARCHAR(10) -- Current status of the equipment type active ('ACT') or inactive ('INA')
    ,EsAnalisis BIT -- Indicates whether this equipment type is used for analysis purposes
    ,FOREIGN KEY (IdClasificacion_fk) REFERENCES dbo_v2.teq_clasificacion (Id) -- Relationship to the equipment classification table
)

CREATE TABLE IF NOT EXISTS dbo_v2.var_tipo_variable (
    ,Id INT PRIMARY KEY -- Unique identifier for each variable
    ,Nombre VARCHAR(100) -- Name of the variable
    ,Reporte_Manual VARCHAR(100) -- Indicates whether manual reporting is applicable or required for this variable type
    ,IdRepManual INT -- Identifier for manual reporting if applicable
    ,Id_Field INT -- Identifier for the specific field associated with this variable type if any
    ,Cromatografia VARCHAR(100) -- Indicates whether this variable type is associated with chromatography
    ,Estado VARCHAR(100) -- Current status of the variable active ('ACT') or inactive ('INA')
)""",
    """-- var_variable_datos.idSistemaMedicion_fk can be joined with med_sistema_medicion.Id
-- med_sistema_medicion.Id can be joined with med_tag.IdSistemaMedicion_fk
-- med_sistema_medicion.Id can be joined with equ_equipo.Id
-- equ_equipo.IdTipoEquipo_fk can be joined with teq_tipo_equipo.Id
-- var_variable_datos.idVariable_fk can be joined with var_tipo_variable.Id""",
    "The human is requesting the max static pressure for the system with tag EMED-3138.12-050 for March 2023."
)

r1="""SELECT date_of_latest_revision FROM Catalogs GROUP BY date_of_latest_revision HAVING COUNT(*) > 1"""
r2="""SELECT T3.name FROM Employee AS T1 JOIN Certificate AS T2 ON T1.eid = T2.eid JOIN Aircraft AS T3 ON T3.aid = T2.aid WHERE T1.name = "John Williams"""
r3="""SELECT MAX(Valor) AS 'Max Static Pressure'
    FROM dbo_v2.var_variable_datos AS v
    INNER JOIN dbo_v2.med_sistema_medicion AS m ON v.idSistemaMedicion_fk = m.Id
    INNER JOIN dbo_v2.med_tag AS t ON m.Id = t.IdSistemaMedicion_fk
    INNER JOIN dbo_v2.equ_equipo AS e ON m.Id = e.Id
    INNER JOIN dbo_v2.teq_tipo_equipo AS te ON e.IdTipoEquipo_fk = te.Id
    INNER JOIN dbo_v2.var_tipo_variable AS vt ON v.idVariable_fk = vt.Id
    WHERE t.Nombre = 'EMED-3138.12-050' AND vt.Nombre = 'Pressão Estática (kPa)' AND v.Fecha BETWEEN '2023-03-01' AND '2023-03-31'"""

In [29]:
# base_response = generate_base_response(q1)
# print("Base response 1" + "="*10)
# print(base_response)
ft_response_1 = generate_ft_response(q1)
print("Fine tuned response 1" + "="*10)
print(ft_response_1)
# base_response = generate_base_response(q2)
# print("Base response 2" + "="*10)
# print(base_response)
ft_response_2 = generate_ft_response(q2)
print("Fine tuned response 2" + "="*10)
print(ft_response_2)
# base_response = generate_base_response(q3)
# print("Base response 3" + "="*10)
# print(base_response)
ft_response_3 = generate_ft_response(q3)
print("Fine tuned response 3" + "="*10)
print(ft_response_3)

Both `max_new_tokens` (=1500) and `max_length`(=2000) seem to have been set. `max_new_tokens` will take precedence. Please refer to the documentation for more information. (https://huggingface.co/docs/transformers/main/en/main_classes/text_generation)
Both `max_new_tokens` (=1500) and `max_length`(=2000) seem to have been set. `max_new_tokens` will take precedence. Please refer to the documentation for more information. (https://huggingface.co/docs/transformers/main/en/main_classes/text_generation)

Fine tuned response 1==========
[{'generated_text': '### Task\nYour task is to Generate a SQL code to the question. Follow the Database Schema and Database Relationships below.\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Catalogs (date_of_latest_revision VARCHAR -- Date of the latest revision of the catalog);\n### Database Relationships\nThe schema has the following JOIN relationships:\n\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Find the dates on which more than one revisions were made.[/QUESTION]\n[SQL]\nSELECT date_of_latest_revision\nFROM Catalogs\nWHERE date_of_latest_revision IN (SELECT date_of_latest_revision\nFROM Catalogs\nGROUP BY date_of_latest_revision\nHAVING COUNT(date_of_latest_revision) > 1);\n[/SQL]\n\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Catalogs (date_of_latest_revision VARCHAR -- Date of the latest revision of the catalog);\n### Database Relationships\nThe schema has the following JOIN relationships:\n\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Find the dates on which more than one revisions were made.[/QUESTION]\n[SQL]\nSELECT date_of_latest_revision\nFROM Catalogs\nWHERE date_of_latest_revision IN (SELECT date_of_latest_revision\nFROM Catalogs\nGROUP BY date_of_latest_revision\nHAVING COUNT(date_of_latest_revision) > 1);\n[/SQL]\n\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Catalogs (date_of_latest_revision VARCHAR -- Date of the latest revision of the catalog);\n### Database Relationships\nThe schema has the following JOIN relationships:\n\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Find the dates on which more than one revisions were made.[/QUESTION]\n[SQL]\nSELECT date_of_latest_revision\nFROM Catalogs\nWHERE date_of_latest_revision IN (SELECT date_of_latest_revision\nFROM Catalogs\nGROUP BY date_of_latest_revision\nHAVING COUNT(date_of_latest_revision) > 1);\n[/SQL]\n\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Catalogs (date_of_latest_revision VARCHAR -- Date of the latest revision of the catalog);\n### Database Relationships\nThe schema has the following JOIN relationships:\n\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Find the dates on which more than one revisions were made.[/QUESTION]\n[SQL]\nSELECT date_of_latest_revision\nFROM Catalogs\nWHERE date_of_latest_revision IN (SELECT date_of_latest_revision\nFROM Catalogs\nGROUP BY date_of_latest_revision\nHAVING COUNT(date_of_latest_revision) > 1);\n[/SQL]\n\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Catalogs (date_of_latest_revision VARCHAR -- Date of the latest revision of the catalog);\n### Database Relationships\nThe schema has the following JOIN relationships:\n\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Find the dates on which more than one revisions were made.[/QUESTION]\n[SQL]\nSELECT date_of_latest_revision\nFROM Catalogs\nWHERE date_of_latest_revision IN (SELECT date_of_latest_revision\nFROM Catalogs\nGROUP BY date_of_latest_revision\nHAVING COUNT(date_of_latest_revision) > 1);\n[/SQL]\n\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Catalogs (date_of_latest_revision VARCHAR -- Date of the latest revision of the catalog);\n### Database Relationships\nThe schema has the following JOIN relationships:\n\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Find the dates on which more than one revisions were made.[/QUESTION]\n[SQL]\nSELECT date_of_latest_revision\nFROM Catalogs\nWHERE date_of_latest_revision IN (SELECT date_of_latest_revision\nFROM Catalogs\nGROUP BY date_of_latest_revision\nHAVING COUNT(date_of_latest_revision) > 1);\n[/SQL]\n\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Catalogs (date_of_latest_revision VARCHAR -- Date of the latest revision of the catalog);\n### Database Relationships\nThe schema has the following JOIN relationships:\n\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Find the dates on which more than one revisions were made.[/QUESTION]\n[SQL]\nSELECT date_of_latest_revision\nFROM Catalogs\nWHERE date_of_latest_revision IN (SELECT date_of_latest_revision\nFROM Catalogs\nGROUP BY date_of_latest_revision\nHAVING COUNT(date_of_latest_revision) > 1);\n[/SQL]\n\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Catalogs (date_of_latest_revision VARCHAR -- Date of the latest revision of the catalog);\n### Database Relationships\nThe schema has the following JOIN relationships:\n\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Find the dates on which more than one revisions were made.[/QUESTION]\n[SQL]\nSELECT date_of_latest_revision\nFROM Catalogs\nWHERE date_of_latest_revision IN (SELECT date_of_latest_revision\nFROM Catalogs\nGROUP BY date_of_latest_revision\nHAVING COUNT(date_of_latest_revision) > 1);\n[/SQL]\n\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Catalogs (date_of_latest_revision VARCHAR -- Date of the latest revision of the catalog);\n### Database Relationships\nThe schema has the following JOIN relationships:\n\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Find the dates on which more than one revisions were made.[/QUESTION]\n[SQL]\nSELECT date_of_latest_revision\nFROM Catalogs\nWHERE date_of_latest_revision IN (SELECT date_of_latest_revision\nFROM Catalogs\nGROUP BY date_of_latest_revision\nHAVING COUNT(date_of_latest_revision) > 1);\n[/SQL]\n\n\n### Database Schema\n'}]

Both `max_new_tokens` (=1500) and `max_length`(=2000) seem to have been set. `max_new_tokens` will take precedence. Please refer to the documentation for more information. (https://huggingface.co/docs/transformers/main/en/main_classes/text_generation)

Fine tuned response 2==========
[{'generated_text': "### Task\nYour task is to Generate a SQL code to the question. Follow the Database Schema and Database Relationships below.\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Aircraft (\n    name VARCHAR, -- Name of the aircraft\n    aid VARCHAR -- Aircraft ID\n);\n\nCREATE TABLE IF NOT EXISTS Employee (\n    eid VARCHAR, -- Employee ID\n    name VARCHAR -- Employee name\n);\n\nCREATE TABLE IF NOT EXISTS Certificate (\n    eid VARCHAR, -- Employee ID\n    aid VARCHAR -- Aircraft ID\n);\n### Database Relationships\nThe schema has the following JOIN relationships:\n-- Employee.eid can be joined with Certificate.eid\n-- Certificate.aid can be joined with Aircraft.aid\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Show names for all aircrafts of which John Williams has certificates.[/QUESTION]\n[SQL]\nSELECT name\nFROM Aircraft\nWHERE aid IN (\n    SELECT aid\n    FROM Certificate\n    WHERE eid IN (\n        SELECT eid\n        FROM Employee\n        WHERE name = 'John Williams'\n    )\n);\n[/SQL]\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Aircraft (\n    name VARCHAR, -- Name of the aircraft\n    aid VARCHAR -- Aircraft ID\n);\n\nCREATE TABLE IF NOT EXISTS Employee (\n    eid VARCHAR, -- Employee ID\n    name VARCHAR -- Employee name\n);\n\nCREATE TABLE IF NOT EXISTS Certificate (\n    eid VARCHAR, -- Employee ID\n    aid VARCHAR -- Aircraft ID\n);\n### Database Relationships\nThe schema has the following JOIN relationships:\n-- Employee.eid can be joined with Certificate.eid\n-- Certificate.aid can be joined with Aircraft.aid\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Show names for all aircrafts of which John Williams has certificates.[/QUESTION]\n[SQL]\nSELECT name\nFROM Aircraft\nWHERE aid IN (\n    SELECT aid\n    FROM Certificate\n    WHERE eid IN (\n        SELECT eid\n        FROM Employee\n        WHERE name = 'John Williams'\n    )\n);\n[/SQL]\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Aircraft (\n    name VARCHAR, -- Name of the aircraft\n    aid VARCHAR -- Aircraft ID\n);\n\nCREATE TABLE IF NOT EXISTS Employee (\n    eid VARCHAR, -- Employee ID\n    name VARCHAR -- Employee name\n);\n\nCREATE TABLE IF NOT EXISTS Certificate (\n    eid VARCHAR, -- Employee ID\n    aid VARCHAR -- Aircraft ID\n);\n### Database Relationships\nThe schema has the following JOIN relationships:\n-- Employee.eid can be joined with Certificate.eid\n-- Certificate.aid can be joined with Aircraft.aid\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Show names for all aircrafts of which John Williams has certificates.[/QUESTION]\n[SQL]\nSELECT name\nFROM Aircraft\nWHERE aid IN (\n    SELECT aid\n    FROM Certificate\n    WHERE eid IN (\n        SELECT eid\n        FROM Employee\n        WHERE name = 'John Williams'\n    )\n);\n[/SQL]\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Aircraft (\n    name VARCHAR, -- Name of the aircraft\n    aid VARCHAR -- Aircraft ID\n);\n\nCREATE TABLE IF NOT EXISTS Employee (\n    eid VARCHAR, -- Employee ID\n    name VARCHAR -- Employee name\n);\n\nCREATE TABLE IF NOT EXISTS Certificate (\n    eid VARCHAR, -- Employee ID\n    aid VARCHAR -- Aircraft ID\n);\n### Database Relationships\nThe schema has the following JOIN relationships:\n-- Employee.eid can be joined with Certificate.eid\n-- Certificate.aid can be joined with Aircraft.aid\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Show names for all aircrafts of which John Williams has certificates.[/QUESTION]\n[SQL]\nSELECT name\nFROM Aircraft\nWHERE aid IN (\n    SELECT aid\n    FROM Certificate\n    WHERE eid IN (\n        SELECT eid\n        FROM Employee\n        WHERE name = 'John Williams'\n    )\n);\n[/SQL]\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Aircraft (\n    name VARCHAR, -- Name of the aircraft\n    aid VARCHAR -- Aircraft ID\n);\n\nCREATE TABLE IF NOT EXISTS Employee (\n    eid VARCHAR, -- Employee ID\n    name VARCHAR -- Employee name\n);\n\nCREATE TABLE IF NOT EXISTS Certificate (\n    eid VARCHAR, -- Employee ID\n    aid VARCHAR -- Aircraft ID\n);\n### Database Relationships\nThe schema has the following JOIN relationships:\n-- Employee.eid can be joined with Certificate.eid\n-- Certificate.aid can be joined with Aircraft.aid\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Show names for all aircrafts of which John Williams has certificates.[/QUESTION]\n[SQL]\nSELECT name\nFROM Aircraft\nWHERE aid IN (\n    SELECT aid\n    FROM Certificate\n    WHERE eid IN (\n        SELECT eid\n        FROM Employee\n        WHERE name = 'John Williams'\n    )\n);\n[/SQL]\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Aircraft (\n    name VARCHAR, -- Name of the aircraft\n    aid VARCHAR -- Aircraft ID\n);\n\nCREATE TABLE IF NOT EXISTS Employee (\n    eid VARCHAR, -- Employee ID\n    name VARCHAR -- Employee name\n);\n\nCREATE TABLE IF NOT EXISTS Certificate (\n    eid VARCHAR, -- Employee ID\n    aid VARCHAR -- Aircraft ID\n);\n### Database Relationships\nThe schema has the following JOIN relationships:\n-- Employee.eid can be joined with Certificate.eid\n-- Certificate.aid can be joined with Aircraft.aid\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]Show names for all aircrafts of which John Williams has certificates.[/QUESTION]\n[SQL]\nSELECT name\nFROM Aircraft\nWHERE aid IN (\n    SELECT aid\n    FROM Certificate\n    WHERE eid IN (\n        SELECT eid\n        FROM Employee\n        WHERE name = 'John Williams'\n    )\n);\n[/SQL]\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS Aircraft (\n    name VARCHAR, -- Name of the aircraft\n    aid VARCHAR -- Aircraft ID\n);\n\nCREATE TABLE IF NOT EXISTS Employee (\n    eid VARCHAR, -- Employee ID\n    name VARCHAR -- Employee name\n);\n\nCREATE TABLE IF NOT EXISTS Certificate (\n    eid VARCHAR, -- Employee ID\n    aid VARCHAR -- Aircraft ID\n);\n### Database Relationships\nThe schema has the following JOIN relationships:\n-- Employee.eid can be joined with Certificate.eid\n-- Certificate.aid can be joined with Aircraft.aid\n\n### Answer\nGiven the database"}]
Fine tuned response 3==========
[{'generated_text': "### Task\nYour task is to Generate a SQL code to the question. Follow the Database Schema and Database Relationships below.\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS dbo_v2.var_variable_datos (\n    Fecha DATETIME -- Date and time when the variable data was measured\n    ,idVariable_fk INT -- Foreign key linking to the variable type in the var_tipo_variable table\n    ,idSistemaMedicion_fk INT -- Foreign key linking to the measurement system in the med_sistema_medicion table\n    ,Valor FLOAT -- Numeric value of the variable measured\n    ,Valor_String VARCHAR(100) -- String representation of the variable value for non-numeric data\n    ,FOREIGN KEY (idVariable_fk) REFERENCES dbo_v2.var_tipo_variable (Id) -- Relationship to the var_tipo_variable table\n    ,FOREIGN KEY (idSistemaMedicion_fk) REFERENCES dbo_v2.med_sistema_medicion (Id) -- Relationship to the med_sistema_medicion table\n)\n\nCREATE TABLE IF NOT EXISTS dbo_v2.med_sistema_medicion (\n    Id INT PRIMARY KEY -- Unique identifier for the measurement system\n    ,IdPlataforma_fk INT -- Foreign key linking to the platform\n    ,Nombre VARCHAR(100) -- Name of the measurement system\n    ,Tag VARCHAR(100) -- Tag associated with the measurement system for identification\n    ,Estado VARCHAR(100) -- Status of the measurement system, active ('ACT') or inactive ('INA')\n    ,IdTipoFluido_fk INT -- Foreign key linking to the type of fluid being measured\n    ,SubTipoFluido VARCHAR(100) -- Exclusively reffers to subtype natural gas DIF or LIN, can only use when fluid type id=1\n    ,IsVisible VARCHAR(100) -- Indicates whether the system is visible in the UI, could be: 1/0\n    ,Uso VARCHAR(100) -- Usage description of the measurement system could be: CONTINUA / WELL_TESTING\n    ,FOREIGN KEY (IdPlataforma_fk) REFERENCES dbo_v2.pla_plataforma (Id) -- Relationship to pla_plataforma table\n    ,FOREIGN KEY (IdTipoFluido_fk) REFERENCES dbo_v2.flu_tipo_fluido (Id) -- Relationship to flu_tipo_fluido table\n    ,FOREIGN KEY (IdAplicabilidad_fk) REFERENCES dbo_v2.med_tipo_medicion (Id) -- Relationship to med_tipo_medicion table\n)\n\nCREATE TABLE IF NOT EXISTS dbo_v2.med_tag(\n    ,Id INT PRIMARY KEY -- Unique identifier for each tag\n    ,Nombre VARCHAR(MAX) -- Name or description of the tag\n    ,IdSistemaMedicion_fk INT -- Foreign key linking to the measurement system this tag belongs to\n    ,IdTipoEquipo_fk INT -- Foreign key linking to the type of equipment associated with this tag\n    ,IdEquipo_fk INT -- Foreign key linking to the specific piece of equipment associated with this tag\n    ,SensoresHabilitadosMv VARCHAR(100) -- Information about enabled sensors for multivariable equipment\n    ,Estado VARCHAR(10) -- Current status of the tag, active ('ACT') or inactive ('INA')\n    ,FOREIGN KEY (IdEquipo_fk) REFERENCES dbo_v2.equ_equipo (Id) -- Relationship to the equipment table\n    ,FOREIGN KEY (IdSistemaMedicion_fk) REFERENCES dbo_v2.med_sistema_medicion (Id) -- Relationship to the measurement system table\n)\n\nCREATE TABLE IF NOT EXISTS dbo_v2.equ_equipo(\n    ,Id INT PRIMARY KEY -- Unique identifier for each equipment\n    ,Serial VARCHAR(550) -- Serial number of the equipment\n    ,IdFabricante_fk INT -- Foreign key linking to the manufacturer in the fab_fabricante table\n    ,IdTipoEquipo_fk INT -- Foreign key linking to the equipment type in the teq_tipo_equipo table\n    ,PlataformaCadastro INT -- Foreign key linking to the platform where the equipment was registered in the pla_plataforma table\n    ,FechaInicialCalibInsp DATETIME -- Date and time of the initial calibration or inspection\n    ,Modelo VARCHAR(200) -- Model of the equipment\n    ,Caracteristica VARCHAR(200) -- Characteristics or specifications of the equipment\n    ,Estado VARCHAR(10) -- Current status of the equipment, active ('ACT') or inactive ('INA')\n    ,planificacion BIT -- Indicates whether the equipment is included in planning schedules\n    ,Categoria VARCHAR(3) -- Category code of the equipment\n    ,FOREIGN KEY (IdTipoEquipo_fk) REFERENCES dbo_v2.teq_tipo_equipo (Id) -- Relationship to the teq_tipo_equipo table\n)\n\nCREATE TABLE IF NOT EXISTS dbo_v2.teq_tipo_equipo(\n    ,Id INT PRIMARY KEY -- Unique identifier for each equipment type\n    ,Nombre VARCHAR(150) -- Name or description of the equipment type\n    ,IdClasificacion_fk INT -- Foreign key linking to the equipment classification in the teq_clasificacion table\n    ,AsLeft BIT -- Indicates whether the equipment type is considered as left in terms of installation or configuration\n    ,Estado_Comprobacion_Metrologica VARCHAR(10) -- Status of metrological verification (e.g. valid expired)\n    ,NombreCertificado VARCHAR(10) -- Name or identifier of the certification associated with this equipment type\n    ,IdUnidad_fk INT -- Identifier for the unit of measurement associated with this equipment type\n    ,IdVariable_fk INT -- Identifier for the variable associated with this equipment type\n    ,ReporteDS VARCHAR(100) -- Indicates whether a DS (Data Sheet) report is associated with this equipment type\n    ,EsMultivariable BIT -- Indicates whether this equipment type is capable of measuring multiple variables\n    ,TopeMaxEquXSistemasMed INT -- Maximum limit of this type of equipment per measurement system\n    ,IdLayout_fk INT -- Identifier for the layout associated with this equipment type\n    ,Comportamiento_Como_TT BIT -- Indicates whether the equipment type behaves like a TT (Temperature Transmitter)\n    ,Estado VARCHAR(10) -- Current status of the equipment type active ('ACT') or inactive ('INA')\n    ,EsAnalisis BIT -- Indicates whether this equipment type is used for analysis purposes\n    ,FOREIGN KEY (IdClasificacion_fk) REFERENCES dbo_v2.teq_clasificacion (Id) -- Relationship to the equipment classification table\n)\n\nCREATE TABLE IF NOT EXISTS dbo_v2.var_tipo_variable (\n    ,Id INT PRIMARY KEY -- Unique identifier for each variable\n    ,Nombre VARCHAR(100) -- Name of the variable\n    ,Reporte_Manual VARCHAR(100) -- Indicates whether manual reporting is applicable or required for this variable type\n    ,IdRepManual INT -- Identifier for manual reporting if applicable\n    ,Id_Field INT -- Identifier for the specific field associated with this variable type if any\n    ,Cromatografia VARCHAR(100) -- Indicates whether this variable type is associated with chromatography\n    ,Estado VARCHAR(100) -- Current status of the variable active ('ACT') or inactive ('INA')\n)\n### Database Relationships\nThe schema has the following JOIN relationships:\n-- var_variable_datos.idSistemaMedicion_fk can be joined with med_sistema_medicion.Id\n-- med_sistema_medicion.Id can be joined with med_tag.IdSistemaMedicion_fk\n-- med_sistema_medicion.Id can be joined with equ_equipo.Id\n-- equ_equipo.IdTipoEquipo_fk can be joined with teq_tipo_equipo.Id\n-- var_variable_datos.idVariable_fk can be joined with var_tipo_variable.Id\n\n### Answer\nGiven the database schema, here is the question: [QUESTION]The human is requesting the max static pressure for the system with tag EMED-3138.12-050 for March 2023.[/QUESTION]\n[SQL]\nSELECT MAX(Valor)\nFROM dbo_v2.var_variable_datos\nWHERE Fecha >= '2023-03-01'\nAND Fecha < '2023-04-01'\nAND idSistemaMedicion_fk = (SELECT Id FROM dbo_v2.med_sistema_medicion WHERE Nombre = 'EMED-3138.12-050')\nAND idVariable_fk = (SELECT Id FROM dbo_v2.var_tipo_variable WHERE Nombre = 'Static Pressure')\n[/SQL]\n\n### Database Schema\nCREATE TABLE IF NOT EXISTS dbo_v2.var_variable_datos (\n    Fecha DATETIME -- Date and time when the variable data was measured\n   ,idVariable_fk INT -- Foreign key linking to the variable type in the var_tipo_variable table\n   ,idSistemaMedicion_fk INT -- Foreign key linking to the measurement system in the med_sistema_medicion table\n   ,Valor FLOAT -- Numeric value of the variable measured\n   ,Valor_String VARCHAR(100) -- String representation of the variable value for non-numeric data\n   ,FOREIGN KEY (idVariable_fk) REFERENCES dbo_v2.var_tipo_variable (Id) -- Relationship to the var_tipo_variable table\n   ,FOREIGN KEY (idSistemaMedicion_fk) REFERENCES dbo_v2.med_sistema_medicion (Id) -- Relationship to the med_sistema_medicion table\n)\n\nCREATE TABLE IF NOT EXISTS dbo_v2.med_sistema_medicion (\n    Id INT PRIMARY KEY -- Unique identifier for the measurement system\n   ,IdPlataforma_fk INT -- Foreign key linking to the platform\n   ,Nombre VARCHAR(100) -- Name of the measurement system\n   ,Tag VARCHAR(100) -- Tag associated with the measurement system for identification\n   ,Estado VARCHAR(100) -- Status of the measurement system, active ('ACT') or inactive ('INA')\n   ,IdTipoFluido_fk INT -- Foreign key linking to the type of fluid being measured\n   ,SubTipoFluido VARCHAR(100) -- Exclusively reffers to subtype natural gas DIF or LIN, can only use when fluid type id=1\n   ,IsVisible VARCHAR(100) -- Indicates whether the system is visible in the UI, could be: 1/0\n   ,Uso VARCHAR(100) -- Usage description of the measurement system could be: CONTINUA / WELL_TESTING\n   ,FOREIGN KEY (IdPlataforma_fk) REFERENCES dbo_v2.pla_plataforma (Id) -- Relationship to pla_plataforma table\n   ,FOREIGN KEY (IdTipoFluido_fk) REFERENCES dbo_v2.flu_tipo_fluido (Id) -- Relationship to flu_tipo_fluido table\n   ,FOREIGN KEY (IdAplicabilidad_fk) REFERENCES dbo_v2.med_tipo_medicion (Id) -- Relationship to med_tipo_medicion table\n)\n\nCREATE TABLE IF NOT EXISTS dbo_v2.med_tag(\n   ,Id INT PRIMARY KEY -- Unique identifier for each tag\n   ,Nombre VARCHAR(MAX) -- Name or description of the tag\n   ,IdSistemaMedicion_fk INT -- Foreign key linking to the measurement system this tag belongs to\n   ,IdTipoEquipo_fk INT -- Foreign key linking to the type of equipment associated with this tag\n   ,IdEquipo_fk INT -- Foreign key linking to the specific piece of equipment associated with this tag\n   ,SensoresHabilitadosMv VARCHAR(100) -- Information about enabled sensors for multivariable equipment\n   ,Estado VARCHAR(10) -- Current status of the tag, active ('ACT') or inactive ('INA')\n   ,FOREIGN KEY (IdEquipo_fk) REFERENCES dbo_v2.equ_equipo (Id) -- Relationship to the equipment table\n   ,FOREIGN KEY (IdSistemaMedicion_fk) REFERENCES dbo_v2.med_sistema_medicion (Id) -- Relationship to the measurement system table\n)\n\nCREATE TABLE IF NOT EXISTS dbo_v2.equ_equipo(\n   ,Id INT PRIMARY KEY -- Unique identifier for each equipment\n   ,Serial VARCHAR(550) -- Serial number of the equipment\n   ,IdFabricante_fk INT -- Foreign key linking to the manufacturer in the fab_fabricante table\n   ,IdTipoEquipo_fk INT -- Foreign key linking to the equipment type in the teq_tipo_equipo table\n   ,PlataformaCadastro INT -- Foreign key linking to the platform where the equipment was registered in the pla_plataforma table\n   ,FechaInicialCalibInsp DATETIME -- Date and time of the initial calibration or inspection\n   ,Modelo VARCHAR(200) -- Model of the equipment\n   ,Caracteristica VARCHAR(200) -- Characteristics or specifications of the equipment\n   ,Estado VARCHAR(10) -- Current status of the equipment, active ('ACT') or inactive ('INA')\n   ,planificacion BIT -- Indicates whether the equipment is included in planning schedules\n   ,Categoria VARCHAR(3) -- Category code of the equipment\n   ,FOREIGN KEY (IdTipoEquipo_fk) REFERENCES dbo_v2.teq_tipo_equipo (Id) -- Relationship to the teq_tipo_equipo table\n)\n\nCREATE TABLE IF NOT EXISTS dbo_v2.teq_tipo_equipo(\n   ,Id INT PRIMARY KEY -- Unique identifier for each equipment type\n   ,Nombre VARCHAR(150) -- Name or description of the equipment type\n   ,IdClasificacion_fk INT -- Foreign key linking to the equipment classification in the te"}]

In [30]:
n1 = ft_response_1[0]['generated_text'].split("[SQL]")[-1].split("[/SQL]")[0]
n2 = ft_response_2[0]['generated_text'].split("[SQL]")[-1].split("[/SQL]")[0]
n3 = ft_response_3[0]['generated_text'].split("[SQL]")[-1].split("[/SQL]")[0]

print("="*20+"\n"+n1)
print("="*20+"\n"+n2)
print("="*20+"\n"+n3)

====================

SELECT date_of_latest_revision
FROM Catalogs
WHERE date_of_latest_revision IN (SELECT date_of_latest_revision
FROM Catalogs
GROUP BY date_of_latest_revision
HAVING COUNT(date_of_latest_revision) > 1);

====================

SELECT name
FROM Aircraft
WHERE aid IN (
    SELECT aid
    FROM Certificate
    WHERE eid IN (
        SELECT eid
        FROM Employee
        WHERE name = 'John Williams'
    )
);

====================

SELECT MAX(Valor)
FROM dbo_v2.var_variable_datos
WHERE Fecha >= '2023-03-01'
AND Fecha < '2023-04-01'
AND idSistemaMedicion_fk = (SELECT Id FROM dbo_v2.med_sistema_medicion WHERE Nombre = 'EMED-3138.12-050')
AND idVariable_fk = (SELECT Id FROM dbo_v2.var_tipo_variable WHERE Nombre = 'Static Pressure')

In [31]:
print("="*20+"\n"+r1)
print("="*20+"\n"+r2)
print("="*20+"\n"+r3)

====================
SELECT date_of_latest_revision FROM Catalogs GROUP BY date_of_latest_revision HAVING COUNT(*) > 1
====================
SELECT T3.name FROM Employee AS T1 JOIN Certificate AS T2 ON T1.eid = T2.eid JOIN Aircraft AS T3 ON T3.aid = T2.aid WHERE T1.name = "John Williams
====================
SELECT MAX(Valor) AS 'Max Static Pressure'
    FROM dbo_v2.var_variable_datos AS v
    INNER JOIN dbo_v2.med_sistema_medicion AS m ON v.idSistemaMedicion_fk = m.Id
    INNER JOIN dbo_v2.med_tag AS t ON m.Id = t.IdSistemaMedicion_fk
    INNER JOIN dbo_v2.equ_equipo AS e ON m.Id = e.Id
    INNER JOIN dbo_v2.teq_tipo_equipo AS te ON e.IdTipoEquipo_fk = te.Id
    INNER JOIN dbo_v2.var_tipo_variable AS vt ON v.idVariable_fk = vt.Id
    WHERE t.Nombre = 'EMED-3138.12-050' AND vt.Nombre = 'Pressão Estática (kPa)' AND v.Fecha BETWEEN '2023-03-01' AND '2023-03-31'

In [ ]:
import GPUtil

def get_gpu_info():
    gpus = GPUtil.getGPUs()
    if len(gpus) == 0:
        print("No se encontraron GPUs.")
    else:
        for gpu in gpus:
            print("ID de GPU:", gpu.id)
            print("Nombre:", gpu.name)
            print("Memoria total:", gpu.memoryTotal, "MB")
            print("Memoria libre:", gpu.memoryFree, "MB")
            print("Memoria utilizada:", gpu.memoryUsed, "MB")
            print("Porcentaje de uso:", gpu.load * 100, "%")
            print("Temperatura:", gpu.temperature, "C")
            print("------------------------------------")

get_gpu_info()